<main class="main-content">
  <section class="section bg-gray px-10 py-30" id="section-profile">
    <div class="container">
      <div class="row flex-row" *ngIf="!isOnMobile" style="border-radius: 5px;">
        <div *ngIf="currentUser" class="col-12 col-lg-4 col-sm-12 p-0 m-0">
          <div class="card card-bordered contact-div">
            <form
              class="card-header"
              style="background: white; border-top-left-radius: 5px;"
            >
              <div class="search-container">
                <form
                  class="form-inline justify-content-center"
                  method="post"
                  (ngSubmit)="onSearch(inputSearch.value)"
                >
                  <input
                    #inputSearch
                    placeholder="Search"
                    (keyup)="onKeyUp(inputSearch.value)"
                    [disabled]="isLoading || channels.length < 1"
                    type="text"
                    class="search"
                    size="30"
                  />
                  <button class="btn" style="display: none;" type="submit">
                    Go
                  </button>
                </form>
              </div>
            </form>
            <div
              class="list-group list-group-flush contact-list"
              style="height: 80%; max-height:none;"
            >
              <div *ngFor="let channel of queryChannels; let i = index">
                <a
                  *ngIf="selectedChannel && channel"
                  (click)="onSelect(channel)"
                  class="list-group-item list-group-item-action"
                  [ngClass]="{
                    active: selectedChannel.address === channel.address
                  }"
                  style="cursor: pointer;"
                >
                  <span
                    *ngIf="channel.unreadMessages"
                    class="badge-notification badge-danger"
                  ></span>
                  <div class="media" style="width: 100%;">
                    <app-avatar
                      [user]="channel"
                      [customClass]="'avatar avatar-sm mt-8'"
                    ></app-avatar>
                    <div class="media-body ml-2">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h6 class="text-canya mb-0">
                          {{ channel.name }}
                          <app-verified-mark
                            [user]="channel"
                          ></app-verified-mark>
                        </h6>
                        &nbsp;&nbsp;&nbsp;
                        <div>
                          <small class="text-muted">{{
                            channel.timestamp | date: 'dd MMM'
                          }}</small>
                        </div>
                      </div>
                      <span
                        class="text-dark text-small col-11 p-0"
                        [ngStyle]="{
                          'font-weight': channel.unreadMessages
                            ? 'bold'
                            : 'normal'
                        }"
                        >{{
                          channel.message.length > 30
                            ? (channel.message | slice: 0:30) + '...'
                            : channel.message
                        }}</span
                      >
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div
              class="card-footer bg-white p-10 m-0"
              style="border-bottom-right-radius: 5px;"
            ></div>
          </div>
        </div>
        <div class="col-12 col-lg-8 col-sm-12 p-0 m-0">
          <div class="card card-bordered view-70">
            <div
              *ngIf="selectedChannel"
              class="card-header d-flex justify-content-between align-items-center"
              style="background: white; min-height: 61px; max-height: 61px; border-top-left-radius: 5px;"
            >
              <a [routerLink]="['/profile/alt', selectedChannel.address]">
                <div class="media align-items-center">
                  <app-avatar
                    [user]="selectedChannel"
                    [customClass]="'avatar avatar-sm'"
                  ></app-avatar>
                  <div class="media-body">
                    <h6 class="mt-4 mb-0">
                      {{ selectedChannel.name }}
                      <app-verified-mark
                        [user]="selectedChannel"
                      ></app-verified-mark>
                    </h6>
                    <span class="text-muted text-small">{{
                      selectedChannel.title
                    }}</span
                    >&nbsp;
                  </div>
                </div>
              </a>
              <div class="topbar-right">
                <button
                  (click)="hideChannel(selectedChannel)"
                  class="btn btn-outline hidden-lg-down"
                  border-64
                >
                  <i class="fa fa-archive"></i>
                  Archive
                </button>
                <button
                  (click)="hideChannel(selectedChannel)"
                  class="btn btn-action hidden-md-up"
                  border-64
                >
                  <i class="fa fa-archive"></i>
                </button>
              </div>
              <div class="topbar-right" *ngIf="currentUser.type !== 'Provider'">
                <button
                  (click)="postRequest(selectedChannel.address)"
                  class="btn btn-primary btn-outline hidden-lg-down"
                  border-64
                >
                  POST A REQUEST
                </button>
                <button
                  (click)="postRequest(selectedChannel.address)"
                  class="btn btn-action hidden-md-up"
                  border-none
                >
                  <div class="icon-request"></div>
                </button>
              </div>
            </div>
            <div
              id="section-messages"
              class="card-block"
              style="overflow-y: auto"
              (click)="readIfUnread()"
            >
              <div *ngIf="selectedChannel" class="row justify-content-end mb-0">
                <div class="col text-center">
                  <small
                    >Conversation started:
                    {{ selectedChannel.timestamp | date }}</small
                  >
                </div>
              </div>
              <div class="loading-messages" *ngIf="isLoading">
                <img src="assets/img/loader.svg" height="36px" alt="Loader" />
                <p>Loading messages...</p>
              </div>
              <p
                *ngIf="!isLoading && channels.length < 1"
                class="text-dark opacity-60 my-80 text-center"
              >
                Uh, oh, no messages yet! Try again later.
              </p>
              <div *ngFor="let message of messages; let i = index">
                <div
                  *ngIf="
                    message.type === 'MESSAGE' ||
                    message.type === 'ACTION' ||
                    message.type === 'TIP'
                  "
                  class="row"
                  [ngClass]="{
                    'justify-content-start':
                      message.address !== currentUser.address,
                    'justify-content-end':
                      message.address === currentUser.address
                  }"
                >
                  <div class="col-auto mx-30 my-5">
                    <div
                      class="card card-message"
                      [ngClass]="{
                        'bg-secondary': message.address === currentUser.address,
                        'from-me': message.address === currentUser.address,
                        'from-user': message.address !== currentUser.address
                      }"
                      [ngStyle]="{
                        color:
                          message.address !== currentUser.address
                            ? 'white'
                            : '',
                        background:
                          message.address !== currentUser.address
                            ? '#3cf'
                            : '#e4e7ea'
                      }"
                      style="border-radius:15px;"
                    >
                      <div class="card-block p-2 card-message-block">
                        <span
                          [innerHTML]="
                            transformBreaks(
                              message.message
                                | linkify
                                  : message.address !== currentUser.address
                            )
                          "
                        ></span>
                        <div class="text-right">
                          <small
                            [ngClass]="{
                              'text-dark opacity-40':
                                message.address === currentUser.address,
                              'text-white opacity-60':
                                message.address !== currentUser.address
                            }"
                            >{{
                              message.timestamp | date: 'EEEE, h:mm a'
                            }}</small
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="row justify-content-center"
                  *ngIf="message.type === 'ACTION'"
                >
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">
                      <div class="row justify-content-center">
                        <a
                          href="#"
                          *ngIf="!message.isPublic"
                          [routerLink]="['/inbox/job/', message.jobId]"
                          class="fs-14 fw-400"
                          >VIEW JOB DETAILS</a
                        >
                        <a
                          href="#"
                          *ngIf="message.isPublic && message.isPublic === true"
                          [routerLink]="['/jobs/', message.jobId]"
                          class="fs-14 fw-400"
                          >PUBLIC JOB DETAILS</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="row justify-content-center"
                  *ngIf="message.type === 'TIP'"
                >
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">
                      <div class="row justify-content-center">
                        <a
                          href="{{ getTxLink(message.txHash) }}"
                          target="_blank"
                          class="fs-14 fw-400"
                          >VIEW TRANSACTION</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- WARNING: REMOVING THIS WILL MEAN THAT EXISTING JOBS WILL NO LONGER APPEAR -->
                <!-- <div *ngIf="message.type === 'REQUEST' || message.type === 'OFFER' || message.type === 'CHECKOUT'" class="row justify-content-center">
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">

                      <div class="card-header bg-white card-rounded-header">
                        <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've sent a request.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've received a request.</p>

                        <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've sent an offer.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've received an offer.</p>

                        <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Order confirmation.</p>
                        <p *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Checkout.</p>
                      </div>

                      <div class="card-block p-10">
                        <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">CanYa do this?</p>
                        <p class="text-dark mb-8">
                          {{ message.message }}
                        </p>
                        <div>
                          <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">My budget is:</p>
                          <p *ngIf="message.type === 'REQUEST'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                          </p>

                          <p *ngIf="message.type === 'OFFER'" class="text-dark fw-400 m-0">My offer is:</p>
                          <p *ngIf="message.type === 'OFFER'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.price }} CanYaCoins
                          </p>

                          <p *ngIf="message.type === 'CHECKOUT'" class="text-dark fw-400 m-0">Total:</p>
                          <p *ngIf="message.type === 'CHECKOUT'" class="text-dark mb-1">
                            <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                          </p>
                        </div>
                      </div>

                      <div class="card-footer bg-white text-center card-rounded-footer">

                        <a *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" href="#" (click)="onAccept(message, 'REQUEST');"
                          class="btn-block fs-14 fw-400" data-toggle="modal" data-target="#makeAnOffer">I CAN</a>
                        <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>

                        <a *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" href="#" (click)="onAccept(message, 'OFFER');"
                          class="btn-block fs-14 fw-400">I ACCEPT</a>
                        <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>
                        <div *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="row justify-content-center">
                          <div class="col-6">
                            <a href="#" (click)="onPayLater(message)" class="text-dark opacity-60 fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY LATER</a>
                          </div>
                          <div class="col-6">
                            <a href="#" (click)="onPayNow(message)" class="fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY NOW</a>
                          </div>
                        </div>
                        <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark opacity-60 mb-0">Waiting for payment</p>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
              <div id="section-messages-end"></div>
            </div>
            <div
              class="card-footer bg-white"
              style="border: none; border-bottom-right-radius: 5px;"
            >
              <form #frm (ngSubmit)="onSend()" class="align-items-center">
                <div class="input-group input-group-lg">
                  <textarea
                    #msgInput
                    [(ngModel)]="message"
                    (focus)="readIfUnread()"
                    [disabled]="isLoading || channels.length < 1"
                    class="form-control message-box"
                    maxlength="500"
                    (keyup)="onMessageBoxInput($event)"
                    placeholder="Type a message (shift-enter for new line)"
                    name="message"
                    autofocus="autofocus"
                    required
                  >
                  </textarea>
                  <div class="input-group-prepend bg-white">
                    <div class="dropdown dropup">
                      <button
                        [disabled]="isLoading || channels.length < 1"
                        class="btn btn-secondary btn-outline mt-7 dropdown-toggle-no-arrow"
                        style="background: white; margin-top: 6px; margin-left: 6px; padding: 8px 10px 8px 10px;"
                        type="button"
                        id="menu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-bars" style="color: #919d9d;"></i>
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-sm"
                        aria-labelledby="menu"
                      >
                        <small class="dropdown-header">Quick replies</small>
                        <div class="dropdown-divider"></div>
                        <a
                          *ngFor="let macro of macros"
                          (click)="onMacro(macro.text)"
                          class="dropdown-item drop-action"
                          style="cursor: pointer;"
                          >{{ macro.text }}</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  [disabled]="
                    !msgInput.validity.valid || isLoading || channels.length < 1
                  "
                  type="submit"
                  class="btn-container"
                  style="border: none;"
                >
                  <span class="btn send-btn-chat">SEND</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div
        class="row flex-row"
        *ngIf="isOnMobile"
        id="mobile-chat"
        style="border-radius: 5px;"
      >
        <div *ngIf="currentUser" class="col-12 col-md-4 p-0 m-0">
          <div class="card card-bordered" id="contact-div">
            <form
              class="card-header"
              style="background: white; border-top-left-radius: 5px;"
            >
              <div class="search-container">
                <form
                  class="form-inline justify-content-center"
                  method="post"
                  (ngSubmit)="onSearch(inputSearch.value)"
                >
                  <input
                    #inputSearch
                    placeholder="Search"
                    (keyup)="onKeyUp(inputSearch.value)"
                    [disabled]="isLoading || channels.length < 1"
                    type="text"
                    class="search"
                    size="30"
                  />
                  <button class="btn" style="display: none;" type="submit">
                    Go
                  </button>
                </form>
              </div>
            </form>
            <div class="list-group list-group-flush contact-list">
              <div *ngFor="let channel of queryChannels; let i = index">
                <a
                  *ngIf="selectedChannel && channel"
                  (click)="onSelect(channel)"
                  class="list-group-item list-group-item-action"
                  [ngClass]="{
                    active: selectedChannel.address === channel.address
                  }"
                  style="cursor: pointer;"
                >
                  <span
                    *ngIf="channel.unreadMessages"
                    class="badge-notification badge-danger"
                  ></span>
                  <div class="media" style="width: 100%;">
                    <app-avatar
                      [user]="channel"
                      [customClass]="'avatar avatar-sm mt-8'"
                    ></app-avatar>
                    <div class="media-body ml-2">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <h6 class="text-canya mb-0">
                          {{ channel.name }}
                          <app-verified-mark
                            [user]="channel"
                          ></app-verified-mark>
                        </h6>
                        &nbsp;&nbsp;&nbsp;
                        <div>
                          <small class="text-muted">{{
                            channel.timestamp | date: 'dd MMM'
                          }}</small>
                        </div>
                      </div>
                      <span
                        class="text-dark text-small col-11 p-0"
                        [ngStyle]="{
                          'font-weight': channel.unreadMessages
                            ? 'bold'
                            : 'normal'
                        }"
                        >{{
                          channel.message.length > 30
                            ? (channel.message | slice: 0:30) + '...'
                            : channel.message
                        }}</span
                      >
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="card card-bordered view-70 hide" id="message-div">
            <div
              *ngIf="selectedChannel"
              class="card-header d-flex justify-content-between align-items-center"
              style="background: white; min-height:85px; border-top-left-radius: 5px;"
            >
              <div class="col-2">
                <button
                  (click)="toggleMobileDivsEvent($event)"
                  class="chat-back-button"
                >
                  Back
                </button>
              </div>
              <div class="col-8 text-center">
                <p>
                  {{ selectedChannel.name
                  }}<app-verified-mark
                    [user]="selectedChannel"
                  ></app-verified-mark
                  ><br />
                  <span class="text-muted text-small">{{
                    selectedChannel.title
                  }}</span>
                </p>
              </div>
              <div class="col-2"></div>
              <a [routerLink]="['/profile/alt', selectedChannel.address]"> </a>
            </div>
            <div
              id="section-messages"
              class="card-block"
              style="overflow-y: auto"
              (click)="readIfUnread()"
            >
              <div *ngIf="selectedChannel" class="row justify-content-end mb-0">
                <div class="col text-center">
                  <small
                    >Conversation started:
                    {{ selectedChannel.timestamp | date }}</small
                  >
                </div>
              </div>
              <p
                *ngIf="!isLoading && channels.length < 1"
                class="text-dark opacity-60 my-80 text-center"
              >
                Uh, oh, no messages yet! Try again later.
              </p>
              <div *ngFor="let message of messages; let i = index">
                x
                <div
                  *ngIf="
                    message.type === 'MESSAGE' ||
                    message.type === 'ACTION' ||
                    message.type === 'TIP'
                  "
                  class="row"
                  [ngClass]="{
                    'justify-content-start':
                      message.address !== currentUser.address,
                    'justify-content-end':
                      message.address === currentUser.address
                  }"
                >
                  <div class="col-auto mx-30 my-5">
                    <div
                      class="card card-message"
                      [ngClass]="{
                        'bg-secondary': message.address === currentUser.address,
                        'from-me': message.address === currentUser.address,
                        'from-user': message.address !== currentUser.address
                      }"
                      [ngStyle]="{
                        color:
                          message.address !== currentUser.address
                            ? 'white'
                            : '',
                        background:
                          message.address !== currentUser.address
                            ? '#3cf'
                            : '#e4e7ea'
                      }"
                      style="border-radius:15px;"
                    >
                      <div
                        class="card-block p-2 card-message-block"
                        [innerHTML]="
                          transformBreaks(
                            message.message
                              | linkify: message.address !== currentUser.address
                          )
                        "
                      >
                        <div class="text-right">
                          <small
                            [ngClass]="{
                              'text-dark opacity-40':
                                message.address === currentUser.address,
                              'text-white opacity-60':
                                message.address !== currentUser.address
                            }"
                            >{{
                              message.timestamp | date: 'EEEE, h:mm a'
                            }}</small
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="row justify-content-center"
                  *ngIf="message.type === 'ACTION'"
                >
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">
                      <div class="row justify-content-center">
                        <a
                          href="#"
                          [routerLink]="['/inbox/job/', message.jobId]"
                          class="fs-14 fw-400"
                          >VIEW JOB DETAILS</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="row justify-content-center"
                  *ngIf="message.type === 'TIP'"
                >
                  <div class="col-auto mx-30 my-5">
                    <div class="card bg-white card-request">
                      <div class="row justify-content-center">
                        <a
                          href="{{ getTxLink(message.txHash) }}"
                          target="_blank"
                          class="fs-14 fw-400"
                          >VIEW TRANSACTION</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!-- WARNING: REMOVING THIS WILL MEAN THAT EXISTING JOBS WILL NO LONGER APPEAR -->
                <!-- <div *ngIf="message.type === 'REQUEST' || message.type === 'OFFER' || message.type === 'CHECKOUT'" class="row justify-content-center">
                      <div class="col-auto mx-30 my-5">
                        <div class="card bg-white card-request">

                          <div class="card-header bg-white card-rounded-header">
                            <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've sent a request.</p>
                            <p *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" class="text-dark fw-400 my-0">You've received a request.</p>

                            <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've sent an offer.</p>
                            <p *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" class="text-dark fw-400 my-0">You've received an offer.</p>

                            <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Order confirmation.</p>
                            <p *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="text-dark fw-400 my-0">Checkout.</p>
                          </div>

                          <div class="card-block p-10">
                            <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">CanYa do this?</p>
                            <p class="text-dark mb-8">
                              {{ message.message }}
                            </p>
                            <div>
                              <p *ngIf="message.type === 'REQUEST'" class="text-dark fw-400 m-0">My budget is:</p>
                              <p *ngIf="message.type === 'REQUEST'" class="text-dark mb-1">
                                <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                              </p>

                              <p *ngIf="message.type === 'OFFER'" class="text-dark fw-400 m-0">My offer is:</p>
                              <p *ngIf="message.type === 'OFFER'" class="text-dark mb-1">
                                <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.price }} CanYaCoins
                              </p>

                              <p *ngIf="message.type === 'CHECKOUT'" class="text-dark fw-400 m-0">Total:</p>
                              <p *ngIf="message.type === 'CHECKOUT'" class="text-dark mb-1">
                                <img src="assets/img/canya-media-coin.png" style="margin-top: -3px;" width="16px" height="16px" alt="CanYa"> {{ message.budget }} CanYaCoins
                              </p>
                            </div>
                          </div>

                          <div class="card-footer bg-white text-center card-rounded-footer">

                            <a *ngIf="message.address !== currentUser.address && message.type === 'REQUEST'" href="#" (click)="onAccept(message, 'REQUEST');"
                              class="btn-block fs-14 fw-400" data-toggle="modal" data-target="#makeAnOffer">I CAN</a>
                            <p *ngIf="message.address === currentUser.address && message.type === 'REQUEST'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>

                            <a *ngIf="message.address !== currentUser.address && message.type === 'OFFER'" href="#" (click)="onAccept(message, 'OFFER');"
                              class="btn-block fs-14 fw-400">I ACCEPT</a>
                            <p *ngIf="message.address === currentUser.address && message.type === 'OFFER'" class="text-dark opacity-60 mb-0">Waiting for confirmation</p>
                            <div *ngIf="message.address !== currentUser.address && message.type === 'CHECKOUT'" class="row justify-content-center">
                              <div class="col-6">
                                <a href="#" (click)="onPayLater(message)" class="text-dark opacity-60 fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY LATER</a>
                              </div>
                              <div class="col-6">
                                <a href="#" (click)="onPayNow(message)" class="fs-14 fw-400" data-toggle="modal" data-target="#fakeModal">PAY NOW</a>
                              </div>
                            </div>
                            <p *ngIf="message.address === currentUser.address && message.type === 'CHECKOUT'" class="text-dark opacity-60 mb-0">Waiting for payment</p>
                          </div>
                        </div>
                      </div>
                    </div> -->
              </div>
              <div id="section-messages-end"></div>
            </div>
            <div
              class="card-footer bg-white"
              style="border: none; border-bottom-right-radius: 5px;"
            >
              <form #frm (ngSubmit)="onSend()" class="align-items-center">
                <div class="input-group input-group-lg">
                  <textarea
                    #msgInput
                    [(ngModel)]="message"
                    (focus)="readIfUnread()"
                    [disabled]="isLoading || channels.length < 1"
                    class="form-control message-box"
                    maxlength="500"
                    (keyup)="onMessageBoxInput($event)"
                    placeholder="Type a message (shift-enter for new line)"
                    name="message"
                    autofocus="autofocus"
                    required
                  >
                  </textarea>
                  <div class="input-group-prepend bg-white">
                    <div class="dropdown dropup">
                      <button
                        [disabled]="isLoading || channels.length < 1"
                        class="btn btn-secondary btn-outline mt-7 dropdown-toggle-no-arrow"
                        style="background: white; margin-top: 6px; margin-left: 6px; padding: 8px 10px 8px 10px;"
                        type="button"
                        id="menu"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        <i class="fas fa-bars" style="color: #919d9d;"></i>
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-sm"
                        aria-labelledby="menu"
                      >
                        <small class="dropdown-header">Quick replies</small>
                        <div class="dropdown-divider"></div>
                        <a
                          *ngFor="let macro of macros"
                          (click)="onMacro(macro.text)"
                          class="dropdown-item drop-action"
                          style="cursor: pointer;"
                          >{{ macro.text }}</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  [disabled]="
                    !msgInput.validity.valid || isLoading || channels.length < 1
                  "
                  type="submit"
                  class="btn-container"
                  style="border: none;"
                >
                  <span class="send-btn-chat">SEND</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
