<footer _ngcontent-c2="" class="site-footer">
  <div class="container">
    <div class="row gap-y align-items-center">
      <div class="col-12 col-lg-3">
        <p class="text-center text-lg-left">
          <a target="_blank" href="https://canwork.io"
            ><img src="/assets/img/canya.svg" style="width: auto; height: 25px;"
          /></a>
        </p>
      </div>
      <div class="col-12 col-lg-5">
        <ul class="nav nav-primary nav-hero">
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://canwork.io/"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://canwork.io/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="faq">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-4">
        <div class="social social-lg text-center text-lg-right">
          <a
            class="social-facebook"
            target="_blank"
            href="https://www.facebook.com/CanWorkPlatform"
            ><i class="fab fa-facebook-square"></i></a
          ><a
            class="social-twitter"
            target="_blank"
            href="https://twitter.com/canwork_"
            ><i class="fab fa-twitter"></i></a
          ><a
            class="social-instagram"
            target="_blank"
            href="https://www.instagram.com/canwork.io/"
            ><i class="fab fa-instagram"></i></a
          ><!--<a
            class="social-youtube"
            target="_blank"
            href="https://www.youtube.com/channel/UCbbpsDWjpdC-4LjDnF4Ec6w/"
            ><i class="fab fa-youtube"></i></a
          >--><a
            class="social-gitlab"
            target="_blank"
            href="https://gitlab.com/canyacoin/canwork"
            ><i class="fab fa-gitlab"></i></a
          ><a
            class="social-telegram"
            target="_blank"
            href="https://t.me/joinchat/GI97FhDD1lf6dh-r9XRdvA"
            ><i class="fab fa-telegram"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
