<main>
  <section class="section bg-gray">
    <div class="container text-center">
      <div class="card px-30 py-15 my-10">
        <h2>Choose your payment method</h2>
        <p class="fw-500" style="font-size:0.875rem">
          Job Value: $ {{ jobBudgetUsd | number: '1.2-2' }} USD
        </p>
        <!--<div *ngIf="address" class="row">
          <div class="col text-center">
            <a
              ngxClipboard
              [cbContent]="address"
              (click)="$event.preventDefault()"
              href="#"
              class="mx-10"
            >
              <i class="far fa-copy"></i>
            </a>
            {{ address }}
            <a
              target="_blank"
              href="{{ explorer }}/address/{{ address }}"
              class="mx-10"
            >
              <i class="fas fa-external-link-alt"></i>
            </a>
          </div>
        </div>-->
        <div *ngIf="firstLoaded" class="row">
          <div class="col text-left">
            <div [ngSwitch]="address">
              <div *ngSwitchCase="true" class="text-center">
                Loading address...
              </div>
              <div *ngSwitchDefault>
                <div>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Symbol</th>
                        <th scope="col">Free</th>
                        <th scope="col">Value (BUSD)</th>
                        <th scope="col"><!--Pay--></th>
                      </tr>
                    </thead>
                    <tbody *ngIf="assets.length > 0">
                      <tr *ngFor="let item of assets; let i = index">
                        <td>
                          <app-dynamic-coin
                            [symbol]="assets[i].symbol"
                            [network]="chain"
                            [address]="assets[i].address"
                          ></app-dynamic-coin>
                        </td>
                        <td>{{ assets[i].symbol }}</td>
                        <td>{{ assets[i].free | number: '1.3-3' }}</td>
                        <td *ngIf="assets[i].converting">
                          <img
                            src="assets/img/loader.svg"
                            height="24px"
                            alt="converting"
                          />
                        </td>
                        <td
                          *ngIf="!assets[i].converting"
                          [class.red-text]="assets[i].seemsNotEnough"
                          [class.green-text]="
                            assets[i].hasEnough && !assets[i].seemsNotEnough
                          "
                        >
                          {{ assets[i].freeUsd }}
                        </td>
                        <td *ngIf="assets[i].converting" colspan="2"></td>
                        <td
                          *ngIf="!assets[i].converting && assets[i].hasEnough"
                        >
                          <button
                            class="btn btn-primary  my-1"
                            (click)="paymentSelected(assets[i])"
                          >
                            Select
                          </button>
                        </td>

                        <td
                          *ngIf="!assets[i].converting && !assets[i].hasEnough"
                          colspan="2"
                        ></td>
                      </tr>
                    </tbody>
                  </table>
                  <div *ngIf="loading" class="text-center">
                    <img
                      src="assets/img/loader.svg"
                      height="36px"
                      alt="Loader"
                    />
                  </div>

                  <div class="text-right">
                    <button
                      (click)="goBack()"
                      border-64
                      class="btn btn-sm btn-danger btn-outline"
                    >
                      CANCEL
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="loading && !firstLoaded"
          class="container d-flex h-100 flex-column justify-content-center"
        >
          Loading...
          <img src="assets/img/loader.svg" height="36px" alt="Loader" />
        </div>
      </div>
    </div>
  </section>
</main>
