<div
  *ngIf="loading"
  class="container d-flex h-50 flex-column justify-content-center"
  style="min-height: 640px;"
>
  <img src="assets/img/loader.svg" height="36px" alt="Loader" />
</div>
<div *ngIf="!loading && !jobStateCheck">
  <div class="col-sm-8 offset-sm-2 col-12 text-center createWallet">
    <img
      src="/assets/img/CanYa_red_cross.svg"
      class="img-responsiveness mt-10 animated bounceInUp"
      width="150"
    />
    <h2 *ngIf="!noProviderAddress">Unauthorized</h2>
    <p *ngIf="!noProviderAddress" class="lead fw-400">
      It seems like you're trying to initiate payment for this job even though
      it's already paid, or is processing its payment.
    </p>
    <h2 *ngIf="noProviderAddress">No provider address</h2>
    <p *ngIf="noProviderAddress" class="lead fw-400">
      It seems like provider hasn't configured a BNB Chain Address.<br />
      Please inform the provider.
    </p>
    <p class="text-center">
      <a class="btn btn-secondary" [routerLink]="['/inbox/job', this.job.id]"
        >Return</a
      >
    </p>
  </div>
</div>

<div *ngIf="!loading && showBscAssetSelection" class="container">
  <app-bsc-payment-selector
    [jobBudgetUsd]="jobBudgetUsd"
    [jobId]="job.id"
    [providerAddress]="providerAddress"
    (bscAsset)="assetDataHandler.asset($event)"
  ></app-bsc-payment-selector>
</div>

<div *ngIf="paymentMethod && !showBscAssetSelection">
  <div
    *ngIf="!bscPayOptions"
    class="container d-flex h-100 flex-column justify-content-center"
    style="min-height: 640px;"
  >
    <img src="assets/img/loader.svg" height="36px" alt="Loader" />
  </div>

  <div class="card px-30 py-30 row mh-250">
    <div
      *ngIf="bscPayOptions && bscPayOptions.paymentSummary"
      class="container text-center"
    >
      <!--<div *ngIf="showBalance && bscPayOptions.paymentSummary.balance.free < bscPayOptions.paymentSummary.allowance" class="alert alert-warning">
        <i class="fas fa-exclamation-triangle"></i> Deposit error: 
      </div>-->
      <div *ngIf="depositError && !balanceIssue" class="alert alert-warning">
        <h4><i class="fas fa-exclamation-triangle"></i> Deposit error</h4>
        <p>{{ depositError }}</p>
        <p class="text-center" *ngIf="!isEscrowLoading">
          <a
            class="btn btn-secondary mr-2"
            [routerLink]="['/inbox/job', this.job.id]"
            >Return</a
          >
          or
          <button class="btn btn-primary ml-2" (click)="finalizeBscPay()">
            RETRY
          </button>
        </p>
      </div>
      <div *ngIf="depositError && balanceIssue" class="alert alert-warning">
        <h4>
          <i class="fas fa-exclamation-triangle"></i> Deposit error, balance
          issue
        </h4>
        <p>{{ depositError }}</p>
        <p class="text-center" *ngIf="!isEscrowLoading">
          <a
            class="btn btn-secondary mr-2"
            [routerLink]="['/inbox/job', this.job.id]"
            >Return</a
          >
        </p>
      </div>
      <div class="row mb-15">
        <div class="col-8 text-left">
          <i class="fas fa-shopping-cart"></i> Your order summary
        </div>
      </div>
      <div class="row">
        <div class="col-8 text-left">
          <span class="fw-600">{{
            bscPayOptions.paymentSummary.job.name
          }}</span>
        </div>
        <div class="col-4 text-right">
          <span>
            $ {{ bscPayOptions.paymentSummary.job.usdValue }} USD in
            <span class="fs-12">
              {{ bscPayOptions.paymentSummary.asset.symbol }}
            </span>
          </span>
        </div>
      </div>
      <hr class="mb-5 mt-20" />
      <div class="row">
        <div class="col-8 text-left">
          <span class="fw-600">Total:</span>
        </div>
        <div class="col-4 text-right">
          <span>
            <span class="fw-500 fs-20"
              >$ {{ bscPayOptions.paymentSummary.job.usdValue }}
            </span>
            <span class="fs-12">
              USD
            </span>
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-8 text-left">
          <span class="fw-400"
            >1 {{ bscPayOptions.paymentSummary.asset.symbol }} = $
            {{
              bscPayOptions.paymentSummary.assetValue | number: '1.3-3'
            }}</span
          >
        </div>
        <div class="col-4 text-right">
          <span class="fw-500 fs-20 mr-1">{{
            bscPayOptions.paymentSummary.allowance | number: '1.3-5'
          }}</span>
          <span title="{{ bscPayOptions.paymentSummary.asset.symbol }}">
            <app-dynamic-coin
              [symbol]="bscPayOptions.paymentSummary.asset.symbol"
              [network]="chain"
              [address]="bscPayOptions.paymentSummary.asset.address"
            ></app-dynamic-coin>
          </span>
        </div>
      </div>
      <div class="row mt-35" *ngIf="showBalance">
        <div class="col-4 text-left">
          <span class="fw-600 fs-12">Wallet Balance:</span
          ><span class="fw-500 fs-12 ml-1"
            >{{ bscPayOptions.paymentSummary.balance.free | number: '1.3-5' }}
            {{ bscPayOptions.paymentSummary.asset.symbol }}</span
          >
        </div>
      </div>
      <div class="row mt-35" *ngIf="!showBalance">
        <div class="col-4 text-left">
          <span class="fw-600 fs-12"><!--spacer--></span>
        </div>
      </div>
      <div class="row" *ngIf="showSuccess">
        <div class="col-6 col-sm-2 d-flex">
          <div class="svg-box justify-content-center align-self-center">
            <svg class="circular green-stroke">
              <circle
                class="path"
                cx="75"
                cy="75"
                r="50"
                fill="none"
                stroke-width="5"
                stroke-miterlimit="10"
              />
            </svg>
            <svg class="checkmark green-stroke">
              <g
                transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)"
              >
                <path
                  class="checkmark__check"
                  fill="none"
                  d="M616.306,283.025L634.087,300.805L673.361,261.53"
                />
              </g>
            </svg>
          </div>
        </div>

        <div class="col-sm-8 col-12 text-left d-flex">
          <span class="fw-600 fs-20 justify-content-center align-self-center">{{
            bscPayOptions.successText
          }}</span>
        </div>
        <div class="col-2 text-right d-flex">
          <button
            class="btn btn-primary justify-content-center align-self-center"
            (click)="bscPayOptions.complete()"
          >
            DONE
          </button>
        </div>
      </div>

      <div class="row" *ngIf="!showSuccess">
        <div class="col-12 text-right">
          <img
            *ngIf="isEscrowLoading || isApproving"
            src="assets/img/loader.svg"
            height="36px"
            alt="Loader"
          />
          <button
            *ngIf="approvalNeeded"
            class="btn btn-primary mr-5"
            [disabled]="
              isEscrowLoading || depositError || isApproved || isApproving
            "
            (click)="approveAsset()"
          >
            APPROVE
          </button>
          <button
            class="btn btn-primary"
            [disabled]="isEscrowLoading || depositError || !isApproved"
            (click)="finalizeBscPay()"
          >
            DEPOSIT
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
